<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507629015037-cbdq8gb8rf8q8dbfrsne7hikgsvicst9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507629015037-cbdq8gb8rf8q8dbfrsne7hikgsvicst9</string>
	<key>API_KEY</key>
	<string>AIzaSyCaHoPQ1sk9VaV7StsSj7aFm6gCPO0lwKE</string>
	<key>GCM_SENDER_ID</key>
	<string>507629015037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ng.zimvest</string>
	<key>PROJECT_ID</key>
	<string>app-zimvest-com-ng</string>
	<key>STORAGE_BUCKET</key>
	<string>app-zimvest-com-ng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507629015037:ios:1203710d8d564169431394</string>
	<key>DATABASE_URL</key>
	<string>https://app-zimvest-com-ng.firebaseio.com</string>
</dict>
</plist>